<div class="form-group">
        <%= f.label :name, "Name:", class: "col-xs-2 control-label" %>
        <div class="col-xs-10 trial">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :conditioning_type, "Conditioning Type:", class: "col-xs-2 control-label" %>
        <div class="col-xs-10 trial">
          <%= f.text_field :conditioning_type, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description:", class: "col-xs-2 control-label" %>
        <div class="col-xs-10 trial">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
	

       