 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<% if current_user %>
	  		<li><a href="/users/<%=current_user.id%>"><%=current_user.username%>'s Profile</a></li>
	  	<%elsif current_owner %>
	  		<li><a href="/owners/<%=current_owner.id%>"><%=current_owner.username%>'s Profile</a></li>
	  	<%end%>
	  	<li><a href="/logout">Logout</a></li>	  	
	  </ul>
	 </div>
 </nav>


<div class="container">
	<div class="col-lg-8 table">
		<table class="table table-hover">
		  <thead>
		    <tr>
		      
		      <th scope="col">Workout Name</th>
		      <th scope="col">Workout Type</th>
		      <th scope="col">Workout Description</th>
		      <th scope="col">Your Time</th>
		      <th scope="col">Your Score</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<%@user.workouts.each do |workout| %>
		    <tr>
		      
		      <td><%=link_to "#{workout.name}", workout_path(workout)%></td>
		      <td><%=workout.conditioning_type%></td>
		      <td><%=workout.description%></td>
		      <td><%=workout.time(@user)%></td>
		      <td><%=workout.score(@user)%></td>
		    </tr>
		  <%end%>
		  </tbody>
		</table>
	</div>
</div>