 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<% if current_user %>
	  		<li><a href="/users/<%=current_user.id%>"><%=current_user.username%>'s Profile</a></li>
	  	<%elsif current_owner %>
	  		<li><a href="/owners/<%=current_owner.id%>"><%=current_owner.username%>'s Profile</a></li>
	  	<%end%>
	  	<li><a href="/logout">Logout</a></li>	  	
	  </ul>
	 </div>
 </nav>

<h2>Workout name: <%=@workout.name%></h2>
<h2>Workout type: <%=@workout.conditioning_type%></h2>
<h2>Workout description: <%=@workout.description%></h2>

<%if current_user %>
	<%if current_user.gym.id == @workout.gym_id %>
		<%=link_to "Do this workout", new_workout_userworkout_path(@workout)%>
	<%end%>
<%end%>

<%if @gym.owner == current_owner %>
	<h2><%=button_to "Edit Workout", edit_owner_gym_workout_path(current_owner, @gym, @workout)%></h2>
<%end%>