 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a href="/sessions/new">Login</a></li>
	  	<li><a href="/users/new">Signup</a></li>
	  	<li><a href="/owners">Gym Owners/Managers</a></li>
	  </ul>
	 </div>
 </nav>

<form>
<%=form_tag("/sessions", method: "post") do %>
  <div class="form-group">
	<label>Username: </label>
	<%=text_field_tag :username %><br>
  </div>
  <div class="form-group">
	<label>password: </label>
	<%=text_field_tag :password %><br>
  </div>
	<%=submit_tag "Login" %><br><br>
<%end%>	
</form>
<%= button_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>

