<div class="form-group">
        <%= f.label :name, "Name:", class: "col-xs-2 control-label" %>
        <div class="col-xs-10 trial">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
         <label class="col-xs-2 control-label">Username: </label>
        <div class="col-xs-10 trial">
          <%= f.text_field :username, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
         <label class="col-xs-2 control-label">Email: </label>
        <div class="col-xs-10 trial">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
         <label class="col-xs-2 control-label">Password: </label>
        <div class="col-xs-10 trial">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>