This is the owner new page

<% if @owner.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=form_for @owner do |f| %>
	<label>Full Name: </label>
	<%=f.text_field :name %><br>
	<label>Username: </label>
	<%=f.text_field :username %><br>
	<label>Email: </label>
	<%=f.text_field :email %><br>
	<label>Password: </label>
	<%=f.text_field :password %><br>
	<%=f.submit "Create Profile" %>
<%end%>