 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a href="/users/<%=current_user.id%>/edit"><%=@user.username%>'s Profile</a></li>
	  	<li><a href="/logout">Logout</a></li>	  	
	  </ul>
	 </div>
 </nav>


<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
	<%= render :partial => "form", :locals=>{:f=>f} %>
	<%=f.submit "Update" %>
<%end%>