 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a href="/sessions/new">Login</a></li>
	  	<li><a href="/users/new">Signup</a></li>
	  	<li><a href="/owners">Gym Owners/Managers</a></li>
	  </ul>
	 </div>
 </nav>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=form_for @user do |f| %>
	<label>Name: </label>
	<%=f.text_field :name %><br>
	<label>City: </label>
	<%=f.text_field :city %><br>
	<label>State: </label>
	<%=f.text_field :state %><br>
	<label>Gym affiliation: </label>
	<%=f.collection_select(:gym_id, @gyms, :id, :name, {:include_blank => 'Select your gym'})%><br>
	<label>Email: </label>
	<%=f.text_field :email %><br>

	
	<label>Username: </label>
	
	  <%=f.text_field :username %><br>
   

    
	<label>Password: </label>

	  <%=f.text_field :password %><br>
	

	<%=f.submit "Create Account" %><br><br>
<%end%>

<h4>To create an account using Google, please click here: <%= button_to "Create Account", "/auth/google_oauth2", id: "sign_in" %></h4>