 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a href="/users/<%=current_user.id%>/edit">Edit Profile</a></li>
	  	<li><a href="/logout">Logout</a></li>	  	
	  </ul>
	 </div>
 </nav>


<body class="usershowpage">
   <div class="container">
    <div class="jumbotron">
  	  <h1>Empower Yourself - Inspire Others</h1>
  	  <p>Some text about how fitness transforms lives</p>
    </div>
   </div>

<%if @user.gym.id == 1000000%>
	<h3>Please finish setting up your profile, You need to select a gym</h3>
	<h3>Proceed to <%=link_to "Edit Account", edit_user_path(@user)%></h3>
<%else%>
	 <div class="container">
	 	<div class="row">
	 		<div class="col-lg-4 usershow">
	 			<div class="row gympic">
	 				<img src="https://cdn.shopify.com/s/files/1/0257/2967/files/crossfitclass.png?v=1495746805">
	 			</div>
	 			<hr>
	 			<div class="row links">
	 				<h3><%=link_to "#{@user.gym.name}", gym_path(@user.gym)%></h3>
	 			</div>
	 		</div>
	 		<div class="col-lg-4 center">
	 			<%if !current_user.gym.workouts.blank? %>
		 			<div class="row wod">
		 				<h3>WOD: </h3>
		 			</div>
		 			<hr id="wodhr">
		 			<div class="row woddesc">
		 					<p id="wodName"><%=current_user.gym.workouts.last.name%></p>
		 					<p id="wodType"><%=current_user.gym.workouts.last.conditioning_type%></p>
		 					<p id="wodDescription"><%=current_user.gym.workouts.last.description%></p>
		 					<a id="do-workout" href="/workouts/<%=current_user.gym.workouts.last.id%>/userworkouts/new">Do this workout</a><br>
		 					<button id="previous-workout" data-id="0">Browse archived workouts</button>
		 		
		 			</div>

	 			<%end%>
	 			<hr id="wodhr">
	 			
	 		</div>

	 		<div class="col-lg-4 usershow">
	 			<div class="row gympic">
	 				<img src="https://www.marathon-crossfit.com/hs-fs/hub/407947/file-2586099693-jpg/crossfitblackandwhite.jpg?t=1528984936978">
	 			</div>
	 			<hr>
	 			<div class="row links">
	 				<h3><%=link_to "Completed Workouts", workouts_path%></h3>
	 			</div>
	 		</div>
	 
	 	</div>
	 </div>

<%end%>

<script type="text/javascript">
	$(function(){
		$("#previous-workout").on("click", function(element) {
			let id = parseInt($("#previous-workout").attr("data-id")) + 1;

			$.getJSON("/workouts/display?workout_id=" + id, function(data) {
				if(data !== null) {
					$("#previous-workout").text("Next...")
	      			$("#wodName").text(data["name"]);
	      			$("#wodType").text(data["conditioning_type"]);
	      			$("#wodDescription").text(data["description"]);
	      			$("#previous-workout").attr("data-id", data["id"]);
	      			$("#do-workout").attr("href", `/workouts/${data["id"]}/userworkouts/new`)
      			} else {
      				$("#previous-workout").text("End of workouts, click to browse again")
      				$("#previous-workout").attr("data-id", 0);
      			}
    		});
			
		})
	})
</script>

</body>
